<meta charset="UTF-8">

<h1>Community service for everyone</h1>
<p>This is a petition about mandatory community service for school graduates.</p>
<ul>
    <li>Develop an increase sense of social responsibility</li>
    <li>Gain a global view of society and a heart for ‘giving back’ and helping others</li>
    <li>Provide an opportunity to apply academic learning to real life events</li>
    <li>Improve lifelong communication, interpersonal and critical thinking skills</li>
    <li>Find passions and interests that may lead to a career choice they may have not considered</li>
</ul>

<section id="img-section">

    <img src="/pics/img1.jpg">
    <img src="/pics/img2.jpg">
    <img src="/pics/img3.jpg">
    <img src="/pics/img4.jpg">

</section>

<div id="more"><a href="#about">⌵</a></div>

<h2 id="about">About</h2>

<div id="about-description">

<p>The benefits of community service are profound. Wharton professor Cassie Mogilner wrote in
    the Harvard Business Review that her research found those who volunteer their time feel like
    they have more of it. Further, other research shows that people who donate to charity feel wealthier.</p>

<p>
    “The results show that giving your time to others can make you feel more ‘time affluent’ and less time-constrained
    than wasting your time, spending it on yourself, or even getting a windfall of free time,” said Mogliner.
</p>

<p>
    Community service is an essential way for students to explore their interests, show what they believe in,
    and define a possible career path. By engaging in volunteer work, students have an opportunity to learn
    experientially. They discover where their passions lie while undertaking ‘feel good’ projects that truly make a difference.
    These experiences allow them to make more informed choices about university and their career, while instilling a
    lifelong interest in giving back.
</p>
</div>